<div>
	<div class="module" id="posterRunModule">
		<div id="map">
			<!-- with color key showing member/run designation -->
		</div>
		<div ng-repeat="member in posterRunList">
			
		</div>
	</div>
	<div class="module" id="dailyNexusModule">

	</div>
	<div class="module" id="ivArtsModule">

	</div>
	<div class="module" id="mailingListModule">
		<div id="uAnnouncement">
		</div>
		<div id="filmMailingList">
		</div>
	</div>
	<div class="module" id="diningCommonsModule"> <!-- name placeholder -->

	</div>
</div>